ASPNETCORE_ENVIRONMENT=Development
API_PORT=5001
POSTGRES_PORT=9185
POSTGRES_DB=belvedere
POSTGRES_USER=belvedere
POSTGRES_PASSWORD=belvedere
General__ClientOrigin=http://localhost:5173
Keycloak__Authority=http://localhost:8080/realms/belvedere
Keycloak__ClientId=dotnet-bff
Keycloak__ClientSecret=change-me
Keycloak__RequireHttpsMetadata=false
